
ul{
	text-align:right;
	list-style-type: none;
	padding-right:20%;
}
li{
	display:inline;
	padding:1%;
}
header{
	
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:grey;
	padding-bottom:1%;
	padding-top:1%;
	margin-bottom:1%;
	margin-top:1%;
}
section{
	padding-left:20%;
	padding-right:20%;
	padding-top:2%;
	padding-bottom:2%;
	background-color:#30c3a6;;
	text-align:center;
	color:white;
}
footer{
	background-color:black;
	text-align:right;
	padding-right:20%;
	padding-top:2%;
	padding-bottom:2%;
}

button{
		text-align:center;
	background-color:black;
	border-color:black;
	color:white;
		padding-top:10px;
	padding-bottom:10px;
		padding-right:35x;
	padding-left:7px;
}
.line {
    overflow: hidden;
    text-align: center;
}
.line:before,
.line:after {
    background-color: grey;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.line:before {
    right: 0.5em;
    margin-left: -50%;
}
.line:after {
    left: 0.5em;
    margin-right: -50%;
}
.photo{
	
}

div#large{
	height:400px;
	
}
div#one {
    width:20%;
	float:left;
	height:200px;
	
}
div#two {
   width:20%;
   float:left;
	margin-left:20%;
}
div#three {
	width:20%;
   float:left;

margin-left:20%;
}
div#large1 {
	display:none;
}

div#meniu_footer{
	display:none;
}
div#meniu{
	display:inline;
}

@media screen and (max-device-width: 500px) 
{
div#meniu_footer{
	display:inline;
}
div#meniu{
	display:none;
}
div#large{
	display:none;
}
div#large1{
	display:inline;
	text-align:center;
}
div#useless{
	height:2200px;
}
}
